/* основной шрифт Roboto – 400,500,700,900 */
/* дополнительный шрифт Raleway – 700 */
/* основной цвет фона #ffffff */
/* основной цвет для текста #757575 */
/* дополнительный цвет текста #212121 */
/* дополнительный цвет #2196F3 */
:root {
    --main-background-color: #ffffff;
    --main-color-text: #757575;
    --complementary-color-text: #212121;
    --complementary-color: #2196F3;
}

body {
    font-family: 'Roboto', sans-serif;
        font-size: 14px;
        letter-spacing: 0.03em;
    background-color: var(--main-background-color);
    color: var(--main-color-text);
}
h1 { 
    margin: 0;
    padding: 0;
    color: #ffffff;
}
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
   color: var(--complementary-color-text);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
padding-top: 94px;
padding-bottom: 94px;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}
.img {
    display: block;
}
/* header шапка */
.header {

}
.header-portfolio {
margin-bottom: 94px;
}
.container-header {
    min-height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}

.nav {
    display: flex;
}

.logo-header,
.logo-footer {
    font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.14;
        letter-spacing: 0.03em;
}
.logo-header { 
    color: #000000;
    text-decoration: none;
}
.logo-footer { 
    display: inline-block;
    padding-top: 94px;
    margin-bottom: 20px; 
color: #ffffff;
text-decoration: none;
}
.logo-web {
    color: var(--complementary-color);
}

.list-nav {
    display: flex;
    margin-left: 93px;
    align-items: center;
}
.list-nav > .items + .items {
margin-left: 50px;
}
.link-nav {
    font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
    color: var(--complementary-color-text);
}

.link-nav:hover,
.link-nav:focus {
color: var(--complementary-color);
}


.studio {
    color: var(--complementary-color);
}
.portfolio {
    color: var(--complementary-color);
}
.links-header {
margin-left: auto;
}

.link-header {
    font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-color-text);
}
.link-header:hover,
.link-header:focus {
color: var(--complementary-color);
}

.links-header>.number {
    margin-left: 50px;
}

/* main */
/* герой hero */
.hero {
    background-color: #2F303A;
}

.main-title {
    margin-bottom: 30px;
    font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase
}
.btn {
    display: flex;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 32px;
        border: 1px solid transparent;
        border-radius: 4px;
        min-width: 200px;

    font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em; 
    background-color: var(--complementary-color);
    color: #ffffff;

    cursor: pointer;
}
/* benefits преимущества */
.benefits {
    
}
.list-benefits {
    display: flex;
}
.list-benefits > .items {
    margin-left: 30px;
}
.list-benefits > .items:first-child {
    margin-left: 0;
}

.title-benefits {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

/*  деятельность activity */
.activity {

}

.title-activity,
.title-team {
font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em
}
.title-activity {
    margin-bottom: 50px;
}

.list-activity {
display: flex;
}
.list-activity > .items {
    margin-left: 30px;
}
.list-activity>.items:first-child {
    margin-left: 0;
}
/* команда team */
.team {
    background-color: #F5F4FA;
}

.title-team {
    margin-bottom: 50px;
    padding-top: 94px;
}

.list-team {
display: flex;
padding-bottom: 94px;
}
.list-team >.items {
    margin-left: 30px;
}
.list-team >.items:first-child {
    margin-left: 0;
}

.img-team {
margin-bottom: 30px;
}

.title-name {
    margin-bottom: 10px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.text-team {
    padding-bottom: 25px;

font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

/* main portfolio */
.main-portfolio {
margin-bottom: 94px;
}

.list-button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.list-button > .items:nth-child(n+2) {
margin-left: 9px;
}
.btn-portfolio {
    padding: 6px 0;
    border-radius: 4px;
    border: 1px solid transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
    cursor: pointer;
   background-color: #F5F4FA; 
   color: var(--complementary-color-text);
}
.btn-portfolio:hover,
.btn-portfolio:focus {
    background-color: var(--complementary-color);
    color: #ffffff;
}
.btn-all {
min-width: 73px;
}
.btn-website {
min-width: 128px;
}
.btn-applications {
min-width: 145px;
}
.btn-design {
min-width: 103px;
}
.btn-marketing {
min-width: 130px;
}
.list-works {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.list-works .items {
    margin: 15px;
    
}

.img-portfolio {
margin-bottom: 20px;
border-bottom: 1px solid transparent;
}

.list-works .title {
    margin-bottom: 4px;
    font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
}
.list-works .text {
    padding-bottom: 20px;
    font-size: 16px;
line-height: 1.87;
}
 /* footer подвал */
.footer {
    
background-color: #2F303A;
}
.address {
   padding-bottom: 60px;
}
.text-footer {
    margin-bottom: 9px;
    font-style: normal;
    line-height: 1.71;
color: #ffffff;
} 

.link-footer {
    margin-bottom: 9px;
    display: inline-block;
    font-style: normal;
    line-height: 1.71;
    text-decoration: none;
color: rgba(255, 255, 255, 0.6);
}
.link-footer:last-child {
    margin-bottom: 0;
}
.link-footer:hover,
.link-footer:focus {
color: var(--complementary-color);
}
